<div class="row clearfix">
  <%= render :partial => "photos/artwork", :locals => { :photo => photos[0], :style => :high } %>
  <%= render :partial => "photos/artwork", :locals => { :photo => photos[1], :style => :large } %>
  <%= render :partial => "photos/artwork", :locals => { :photo => photos[2], :style => :high } %>
</div>