<div class="container clearfix activity">
  <div id="error_page" class="box">
    <h1><i class="warning icon"></i>403</h1>
    <h2>您被拒绝访问该页面! 请联系管理员。</h2>
    <div class="utilities">
      <div class="button-container right">
        <script type="text/javascript">if(history.length>1){document.write('<a class="ui green small button" href="javascript:void(0);" onclick="window.history.back()">返回上一页</a>')}</script>
        <a class="ui green small button" href="/">去首页</a>
      </div>
    </div>
  </div>
</div>