<div class="container clearfix activity">
  <div id="error_page" class="box">
    <h1><i class="warning icon"></i>422</h1>
    <h2>对不起，您的请求出了点问题！</h2>
    <p>您发出的请求将不会做出任何地修改。</p>
    <div class="utilities">
      <div class="button-container right">
        <script type="text/javascript">if(history.length>1){document.write('<a class="ui green small button" href="javascript:void(0);" onclick="window.history.back()">返回上一页</a>')}</script>
        <a class="ui green small button" href="/">去首页</a>
      </div>
    </div>
  </div>
</div>