<div class="container clearfix activity">
  <div id="error_page" class="box">
    <h1><i class="warning icon"></i>500</h1>
    <h2>我们很抱歉，我们的网站出了点故障。</h2>
    <p>现在服务器正忙或者出了点小问题，我们已经记录了这个问题，并将它提交给了网络管理员，网站很快将恢复正常。</p>
    <div class="utilities">
      <div class="button-container right">
        <script type="text/javascript">if(history.length>1){document.write('<a class="ui green small button" href="javascript:void(0);" onclick="window.history.back()">返回上一页</a>')}</script>
        <a class="ui green small button" href="/">去首页</a>
      </div>
    </div>
  </div>
</div>