<div class="container clearfix">
  <div class="gallery">
    <% @photos.each do |photo| %>
      <div class="artwork small">
        <%= link_to image_tag(photo.small, :alt => photo.name), photo, :class => "preview" %>
        <div class="extra">
          <div class="caption"><%= photo.name %></div>
          <div class="timeago"><%= timeago_tag photo.created_at, :format => 'zh-CN', :lang => 'zh-CN', :title => photo.created_at %></div>
        </div>
      </div>
    <% end -%>
  </div>

  <%= paginate @photos %>
</div>